<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/TRAINING RESOURCES/TestCodeCamp_Programme/TestCodeCamp_Programme/Submissions/SeleniumWebdriverTests/SinglePage_Task/Facebook">
        <classes>
            <class name="User.UserManagementTests">
                <methods>
                    <include name="loginTest"/>
                    <include name="logoutTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>